<og-uploader  [max]="2"
              [acceptTypes]="['image/*','text/*','application/*']"
              [styling]="'btn-danger btn-lg'"
              [quality]="60"
              [headers]="[{header: 'Authorization', value: 'MyToken'}]"
              [uploadButtonCaption]="'Select Images!'"
              [buttonCaption]="'The button we all wanted!!'"
              [dropBoxMessage]="'Drop your images here!'"
              (onFileUploadFinish)="imageUploaded($event)"
              (onRemove)="imageRemoved($event)"   
></og-uploader>
